### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
# Count the total number of players by counting the total number of the unique user names
num_players = len(purchase_data["SN"].value_counts()) # value_counts() function returns object containing counts of unique values
num_players_df = pd.DataFrame({"Total Players":[num_players]})

num_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purchase_summary = pd.DataFrame({
    'Number of Unique Items': [len(purchase_data["Item ID"].value_counts())],
    'Average Price': [purchase_data['Price'].mean()],
    'Number of Purchases': [purchase_data["Purchase ID"].count()],
    'Total Revenue': [purchase_data['Price'].sum()]
    })

# Round to 2 decimals in a column with the round() function
purchase_summary.round(2)

# Format with currency $ style
purchase_summary.style.format({"Average Price":"${:,.2f}",
                               "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Count the numbers of the players by genders using groupby() function
group_by_gender = purchase_data.groupby("Gender")
num_players_by_gender = count_by_gender.nunique()["SN"]

# Calculate the percentages of each gender
percent_players = (players_by_gender / num_players) * 100

# Dataframe the calculations
gender_demographics = pd.DataFrame({
    "Total Count": num_players_by_gender,
    "Percentage of Players (%)": percent_players
    })

gender_demographics.round(2)

# Format the data frame with no index name in the corner
gender_demographics.index.name = None

# Format with % sign
gender_demographics.style.format({"Percentage of Players (%)":"{:,.2f}%"})

NameError: name 'count_by_gender' is not defined


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Purchase count by gender
purchase_count_by_gender = group_by_gender.nunique()["Purchase ID"]

# Average purchase price by gender
avg_purchase_by_gender = group_by_gender['Price'].mean()

# Total purchase value by gender
total_purchase_by_gender = group_by_gender['Price'].sum()

# Average total purchase per person by gender
avg_total_purchase_by_gender = total_purchase_by_gender / num_players_by_gender

# Purchasing Analysis (by Gender)
purchasing_analysis_by_gender = pd.DataFrame({
    "Purchase Count": purchase_count_by_gender,
    "Average Purchase Price": avg_purchase_by_gender,
    "Total Purchase Value": total_purchase_by_gender,
    "Avg Total Purchase per Person": avg_total_purchase_by_gender
    })

purchasing_analysis_by_gender.round(2)

# Format with currency $ style
purchasing_analysis_by_gender.style.format({"Average Purchase Price":"${:,.2f}",
                                           "Total Purchase Value":"${:,.2f}",
                                           "Avg Total Purchase per Person":"${:,.2f}"})

NameError: name 'num_players_by_gender' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
# Create bins for different age groups
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data['Age Ranges'] = pd.cut(purchase_data['Age'], bins, labels=group_names)
group_by_age = purchase_data.groupby("Age Ranges")

# Calculate the total numbers and percentages by age group
num_players_by_age = group_by_age["SN"].nunique()
percent_by_age = num_players_by_age / num_players * 100

# Age Demographics analysis in a summary data frame
age_demographics = pd.DataFrame({
    "Total Count": num_players_by_age,
    "Percentage of Players": percent_by_age
    })

age_demographics.round(2)

# Format with % sign
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# simlar to the purchasing analysis by gender above
# Purchase count by age
purchase_count_by_age = group_by_age.nunique()["Purchase ID"]

# Average purchase price by age
avg_purchase_by_age = group_by_age['Price'].mean()

# Total purchase value by age
total_purchase_by_age = group_by_age['Price'].sum()

# Average total purchase per person by age
avg_total_purchase_by_age = total_purchase_by_age / num_players_by_age

# Purchasing Analysis (by Age)
purchasing_analysis_by_age = pd.DataFrame({
    "Purchase Count": purchase_count_by_age,
    "Average Purchase Price": avg_purchase_by_age,
    "Total Purchase Value": total_purchase_by_age,
    "Avg Total Purchase per Person": avg_total_purchase_by_age
    })

purchasing_analysis_by_age.round(2)

# Format with currency $ style
purchasing_analysis_by_age.style.format({"Average Purchase Price":"${:,.2f}",
                                       "Total Purchase Value":"${:,.2f}",
                                       "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
group_by_spender = purchase_data.groupby("SN")

# Calculate Purchase Count, Average Purchase Price, Total Purchase Value by spenders
purchase_count_by_spender = purchase_data.groupby("SN")["Purchase ID"].count()
avg_purchase_by_spender = group_by_spender['Price'].mean()
total_purchase_by_spender = group_by_spender['Price'].sum()

# Create a summary data frame to hold the results
spenders = pd.DataFrame({"Purchase Count": purchase_count_by_spender,
                         "Average Purchase Price": avg_purchase_by_spender,
                         "Total Purchase Value":total_purchase_by_spender})

# Identify the the top 5 spenders in the game by total purchase value
top_spenders = spenders.sort_values(by=['Total Purchase Value'], ascending=False).head()

top_spenders.style.format({"Average Purchase Price":"${:,.2f}", 
                           "Total Purchase Value":"${:,.2f}"})
# top_spenders.head(5)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Identify the the top 5 most popular items by purchase count


# Obtain the relevant columns from the original dataset
columns = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
group_by_popularity = columns.groupby(["Item ID","Item Name"])

# Calculate Purchase Count, Average Purchase Price, Item Price, Total Purchase Value by spenders
purchase_count_by_popularity = group_by_popularity["Price"].count()
total_purchase_by_popularity = group_by_popularity["Price"].sum()
item_price = total_purchase_by_popularity/purchase_count_by_popularity

# Create a summary data frame to hold the results
popularity = pd.DataFrame({"Purchase Count": purchase_count_by_popularity,
                           "Item Price": item_price,
                           "Total Purchase Value":total_purchase_by_popularity})

# Identify the the top 5 most popular items by purchase count
top_popularity = popularity.sort_values(by=['Total Purchase Value'], ascending=False).head()

top_popularity.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
# Identify the 5 most profitable items by total purchase value

# Obtain the relevant columns from the original dataset
columns = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
group_by_profitability = columns.groupby(["Item ID","Item Name"])

# Calculate Purchase Count, Average Purchase Price, Item Price, Total Purchase Value by spenders
purchase_count_by_profitability = group_by_profitability["Price"].count()
total_purchase_by_profitability = group_by_profitability["Price"].sum()
item_price = total_purchase_by_profitability/purchase_count_by_profitability

# Create a summary data frame to hold the results
profitability = pd.DataFrame({"Purchase Count": purchase_count_by_profitability,
                           "Item Price": item_price,
                           "Total Purchase Value":total_purchase_by_profitability})

# Identify the 5 most profitable items by total purchase value
top_profitability = profitability.sort_values(by=['Total Purchase Value'], ascending=False).head()

top_profitability.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})